/*
Reglas para trabajar con CSS
1)Primero se definen los estilos para ETIQUETAS html, por ejemplo: header, footer, div, a, p, etc.
2)Después se definen los estilos para IDENTIFICADORES (id), los id's son elementos únicos en el html, en el css se declaran con el símbolo de # ejemplo: #publicidad{ estilos } y en el html se llaman mediante el atributo id ejemplo <div id="publicidad"> </div>
3)Al final se definen los estilos para las CLASES (class), las clases son elementos que se pueden repetir 'n' veces en el html, en el css se declaran con el símbolo de . ejemplo: .borde-logos{ estilos } y en el html se llaman mediante el atributo class, ejemplo <div class="borde-logos"> </div>
4)Todos los estilos se ordenan  conforme van a pareciendo en la disposición del html, teniendo en cuenta la prioridad anterior, es decir, primero etiquetas html, luego id's y al final clases
5)Los atributos se declaran de la siguiente forma: { atributo1:valor1; atributo2:valor2; ... ; atributoN:valorN; }
6)Todos los atributos se ordenan alfabeticamente, por ejemplo si tengo width, color, display, entonces el orden sería: primero color, luego display y al final width.
7)Si tenemos estilos para el comodín *, o para las etiquetas html y/o body, estos estilos son los primeros en definirse, en ese orden.
8)En el body debemos declarar un tamaño de fuente global. 
	16px = 12pt = 100% = 1em
9)Si tenemos estilos para resetear elementos html, estos irán antes de cualquier estilo.
*/

body{
  background: #212121 url(../img/fondo.jpg);
  color: #FFFF;
  font-size: 16px;
}