/*@jonmircha*/
/* reseteo universal */
* {
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
article,  figcaption, figure, footer, header, hgroup, nav, section{
  display: block;
}

/* estilos del sitio */
@font-face
{
	font-family: "Chalet";
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Chalet.eot);
	src: url(../fonts/Chalet.eot?#iefix) format("embedded-opentype"),
		url(../fonts/Chalet.woff) format("woff"),
		url(../fonts/Chalet.ttf) format("truetype"),
		url(../fonts/Chalet.svg#Chalet) format("svg");
}

@font-face {
    font-family: "Pecita";
    src: url("../fonts/Pecita.eot");
    src: url("../fonts/Pecita.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Pecita.woff") format("woff"),
         url("../fonts/Pecita.ttf") format("truetype"),
         url("../fonts/Pecita.svg#Pecita") format("svg");
    font-weight: normal;
    font-style: normal;
}